@model ICollection<MakeCurriculum.Models.ProfessionalExp>

    <ul>
        @foreach (var item in Model)
        {
        <div class="row">
            <li class="h4">
                <div class="col-md-10 col-sm-8 col-xs-6">
                    <strong>@item.Role</strong> - @item.Company, @item.StartYear a @item.EndYear
                    <p class="h5">@item.Activities</p>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="editExp" data-id="@item.Id"><i class="glyphicon glyphicon-edit btn btn-warning btn-sm"></i></a>
                    <a class="deleteExp" data-id="@item.Id"><i class="glyphicon glyphicon-trash btn btn-danger btn-sm"></i></a>
                </div>
            </li>
        </div>
            <hr />
        }
    </ul>